html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

#window{
    display:flex;
    flex-direction:row;
    width: 100%;
    height: 100%;
}

#main{
    flex:1;
    order:1;
}

#menu{
    width:30%;
    display:flex;
    order:2;
    background-color:darkslategray;
}

#node{
    fill: #69b3a2;
    stroke: #fff;
    stroke-width: 2px;
}

