html, body{
    height:100%;
    margin:0;
    padding:0;
}

#window{
    display:flex;
    flex-direction:row;
    height:100%;
}

#item1{
    flex:1;
    background-color:red;
    order:1;
}

#item2{
    width:30%;
    background-color:green;
    order:2;
    display:flex;
    flex-direction:column;
}



#top1{
    flex:1;
    background-color:purple;
    order:1;
}

#bottom1{
    flex:1;
    background-color:blue;
    order:2;
}